
## <summary>policy for ecodollar</summary>


########################################
## <summary>
##	Transition to ecodollar.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ecodollar_domtrans',`
	gen_require(`
		type ecodollar_t, ecodollar_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ecodollar_exec_t, ecodollar_t)
')


########################################
## <summary>
##	Execute ecodollar server in the ecodollar domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ecodollar_initrc_domtrans',`
	gen_require(`
		type ecodollar_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ecodollar_initrc_exec_t)
')


########################################
## <summary>
##	Search ecodollar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ecodollar_search_lib',`
	gen_require(`
		type ecodollar_var_lib_t;
	')

	allow $1 ecodollar_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ecodollar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ecodollar_read_lib_files',`
	gen_require(`
		type ecodollar_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ecodollar_var_lib_t, ecodollar_var_lib_t)
')

########################################
## <summary>
##	Manage ecodollar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ecodollar_manage_lib_files',`
	gen_require(`
		type ecodollar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ecodollar_var_lib_t, ecodollar_var_lib_t)
')

########################################
## <summary>
##	Manage ecodollar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ecodollar_manage_lib_dirs',`
	gen_require(`
		type ecodollar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ecodollar_var_lib_t, ecodollar_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ecodollar environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ecodollar_admin',`
	gen_require(`
		type ecodollar_t;
		type ecodollar_initrc_exec_t;
		type ecodollar_var_lib_t;
	')

	allow $1 ecodollar_t:process { ptrace signal_perms };
	ps_process_pattern($1, ecodollar_t)

	ecodollar_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ecodollar_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ecodollar_var_lib_t)

')

