# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ECODOLLAR Core Daemon SNAP
Comment=main
GenericName=ECODOLLAR Digital Currency Daemon Client main network
Exec=ecodollar-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ecodollar.png
MimeType=x-scheme-handler/ecos;
Categories=X-Office;X-Finance;
Keywords=internet;ecodollar;zecos;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
